body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
}

.header {
    background-color: #770B0B;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
    box-shadow: 0px 15px 10px white;

}
.header h3 {
    margin: 0px;
    font-size: 28px;
}

.main {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    margin-top: 110px;
}

.xButton {
    z-index: 5;
    position: fixed;
    right: 15%;
    font-size: 21px;
    font-weight: bold;
}

.commentbox {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    border: .25px solid rgb(198, 198, 198);
    border-radius: 10px;
    height: 600px;
    box-sizing: border-box;
    padding: 15px;
    position: fixed;
    width: 30%;
    left: 7%;
    overflow: hidden;
}
.commentList::-webkit-scrollbar {
    display: none;
}

.commentList {
    grid-row: 1/12;
    overflow: scroll;
    padding-left: 0px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.circle {
    border-radius: 50%;
    background-color: rgb(13, 13, 99);
    height: 30px;
    width: 30px;
    margin-right: 25px;
}

.commentInfo p {
    margin: 0px;
}
.commentInfo p:nth-child(1) {
    font-size: 18px;
}

.commentInput {
    justify-self: flex-end;
    border: 0px;
    border-top: 1px solid grey;
    width: 100%;
    height: 50px;
    font-size: 16px;
}
.commentInput:focus {
    outline: none
}

.sendComment {
    display: flex;
    align-items: center;
    grid-row: 12/13;
}


.newsfeed {
    grid-column: 8/15;
}
.newsfeed h2 {
    color: #303030;
    margin: 0px;
    margin-bottom: 25px;
}

.newsarticle {
    width: 100%;
    border: .25px solid #DEDEDE;
    border-radius: 10px;
    box-shadow: 5px 5px #DEDEDE;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 25px;
}

.newsarticleheader {
    font-size: 21px;
    margin: 5px 0px;
}

.newsoutlet {
    font-weight: bold;
    color:#770B0B;
    display: inline;
}

.newitemtime {
    font-size: 12px;
    font-style: italic;
    display: inline;
    float: right;

}


.showMoreLess {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showMoreLess p {
    color: #770B0B;
    margin-bottom: 0px;
}

.showchatbubble {
    color: white;
    position: fixed;
    bottom: 15px;
    right: 25px;
    background-color: #770b0b;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    line-height: 30px;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 5px 5px 1px #4545;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {

    .commentbox {
        width: 85%;
        background-color: white;
    }

    .newsfeed {
        grid-column: 2/15;
    }

}